.coupon__card {
    width: 25rem;
    height: 12rem;
}

.coupon__front,
.coupon__back {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 1s ease;
}

.coupon__front img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.coupon__front {
    transform: perspective(600px) rotateY(0deg);
}

.coupon__back {
    font-size: large;
    text-align: center;
    transform: perspective(600px) rotateY(180deg);
    background-color: transparent;
    border: 0.01rem solid #eee;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #aaa;
}

.coupon__card:hover > .coupon__front {
    transform: perspective(600px) rotateY(-180deg);
}

.coupon__card:hover > .coupon__back {
    transform: perspective(600px) rotateY(0deg);
}

@media screen and (max-width: 420px) {
    .coupon__back {
        font-size: .8rem;
    }
}

.coupon__code {
    text-decoration: underline;
    cursor: pointer;
}

.coupon__back h3,
.coupon__back h2,
.coupon__back h1 {
    margin: 1rem 0;
}
