.total {
    color: #3e3e3e;
    margin: 0;
    margin-left: 3rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.discount__block > span {
    text-align: right;
    margin-bottom: 0;
}

.dotted__line__total {
    border-bottom: 2px dotted black;
    width: 14rem;
}

.dotted__line__discount {
    border-bottom: 2px dotted black;
    width: 20rem;
}

.discount__block {
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    font-weight: 100;
}

.totalPrice__block {
    width: 60%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.buyBtn {
    color: #888;
    border: 0.5rem solid #eee;
    box-shadow: 0 0 1rem #aaa;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #cbe4d666;
    cursor: pointer;
    width: 20rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    height: 5rem;
    border: 0.2rem solid #eee;
    border-radius: 2rem;
    outline: none;
    transition: all 0.2s ease;
}

.buyBtn:hover {
    transform: translateY(-10%);
}

@media (max-width: 720px) {
    .dotted__line__discount {
        width: 10rem;
    }
    .dotted__line__total {
        width: 5rem;
    }
    .total {
        grid-template-columns: 1fr;
        margin: 1rem;
    }
    .buyBtn {
        height: 5rem;
        margin: 1rem auto;
    }
    .discount__block {
        width: 90%;
    }
    
    .totalPrice__block {
        width: 90%;
    }
}
