.product {
    position: relative;
    margin: 0;
    margin-bottom: 1rem;
    width: 90%;
    height: 175px;
    border: 0.01rem solid #eee;
    box-shadow: 0 0 0.5rem #aaa;
    background: #eeeeee60;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 150px 1fr;
}

.product__id {
    color: #3e3e3e;
    opacity: 0.2;
    font-weight: bolder;
    position: absolute;
    top: 2.7%;
    left: 2.7%;
}

.product__cross {
    position: absolute;
    cursor: pointer;
    right: 2%;
    top: 1%;
    transition: all 0.3s ease-in-out;
}

.product__cross:hover {
    scale: 1.2;
    transform: rotate(-90deg);
}

.product__img {
    cursor: pointer;
    object-fit: cover;
    border-top-left-radius: 1.8rem;
    border-bottom-left-radius: 1.8rem;
}

.product__info {
    padding: 1rem;
}

.product__name {
    margin-top: 10%;
}

.product__price {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

@media (max-width: 720px) {
    /* .product {
        height: 37%;
    } */
}
