.dress__type__menu {
    width: minmax(150px, 180px, 1fr);
    margin: 1rem;
    margin-left: 0;
    padding-left: 0;
    padding: 1rem;
    color: #3e3e3e;
    background-color: #aaaaaa00;
    backdrop-filter: blur(20px);
    border-radius: 2rem;
    box-shadow: -0.2rem 0.35rem 0.1rem 0.1rem #aaa;
}

.dress__type {
    display: block;
    margin: 0.3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    color: #3e3e3e;
    text-decoration: none;
}

.dress__type:hover {
    text-decoration: underline;
}
