.return {
    color: #3e3e3eaa;
    background-color: #00000011;
    padding: 1rem;
}

.return_main {
    background-color: #00000011;
    padding: 1rem;
    border-radius: 1rem;
    width: max-content;
    cursor: pointer;
}

.return_secondary__closed {
    display: none;
}

.return_secondary > h3 {
    background-color: #00000011;
    width: max-content;
    padding: 0.4rem;
    border-radius: 0.4rem;
}

@media screen and (max-width: 500px) {
    .return {
        padding: 0.3rem;
    }
}
