.pagination__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    background-color: #fff;
    border-radius: 1rem;
    width: 15rem;
    height: 3rem;
    margin: 1rem auto;
    box-shadow: 0 0 0.1rem #3e3e3e33;
}

.pagination__container:hover {
    box-shadow: 0 0 0.3rem #3e3e3e;
}

.previous {
    transform: rotate(180deg);
}

.first,
.last,
.current,
.next,
.previous {
    cursor: pointer;
}

.first,
.last,
.current {
    color: #3e3e3e;
    border-radius: 1rem;
    padding: 0.05rem 0.4rem;
    font-size: 28px;
    
}

.first:hover,
.last:hover,
.current:hover {
    box-shadow: 0 0 0.2rem #3e3e3e;
    scale: 1.02;
}

.next:hover,
.previous:hover {
    scale: 1.1;
}
