.content__container {
    width: 70vw;
    border-radius: 5rem;
    border: 0.2rem solid #eee;
    box-shadow: 0 0 1rem #aaa;
    margin: 1rem auto;
    color: #333;
    padding: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding-top: 1rem;
    background-color: #eee;
    overflow-x: hidden;
    /* background-image: url(https://images.unsplash.com/photo-1533038590840-1cde6e668a91?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687); */
    /* background-image: url(https://images.unsplash.com/photo-1647970892847-eb772cbef7bd?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687); */
    /* background-image: url(https://images.unsplash.com/photo-1652417841552-bc8d821aed04?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870); */
    /* background-image: url(https://images.unsplash.com/photo-1494714198743-ba35ce177d03?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Z2xhc3N8ZW58MHx8MHx8&auto=format&fit=crop&w=900); */
    /* background-image: url(https://images.unsplash.com/photo-1650905481517-248a970e9b87?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1296); */
    background-image: url(https://images.unsplash.com/photo-1600172454284-934feca24ccd?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870);
    background-position: center left;
    background-attachment: local;
    background-size: cover;
    backdrop-filter: blur(21px);
    transition: all 0.6s ease-in-out;
    animation: backgroundMove 7s ease-in-out infinite alternate;
}

@keyframes backgroundMove {
    to {
        background-position: 15% 15%;
    }
}

.content__container p {
    font-size: large;
    padding: 0 0.5rem;
}

.content__container .div_ul {
    font-size: large;
}

.content__container a {
    font-size: larger;
    color: lightskyblue;
    text-decoration: none;
}

.content__container ul {
    text-align: start;
    list-style-type: lower-greek;
}

.coupon__card {
    position: relative;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
}

.coupon__card__container {
    margin: 5rem auto;
    width: fit-content;
    max-width: 80vw;
    border: 0.1rem dashed #000;
    border-radius: 2rem;
    padding: 0 1rem;
}

.gift__card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 80vw;
    margin: 5rem auto;
    border: 0.1rem dashed #000;
    border-radius: 2rem;
    padding: 0 2rem;
}

.technologies {
    background: linear-gradient(
        180deg,
        rgba(199, 199, 199, 0.3) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(199, 199, 199, 0.3) 100%
    );
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1rem #aaa;
    width: fit-content;
    margin: 0 auto;
    border-radius: 2rem;
    padding: 1rem;
    border: 0.1rem solid #eee;
}

.additional__info {
    text-align: left;
    width: fit-content;
    margin: 2rem auto;

    background-color: #ffffff22;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 0.5rem #aaa;
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: 0.1rem solid #eee;
    transition: all 1s ease;
    animation: slideDown 1s ease;
}

@keyframes slideDown {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.additional__info__closed {
    text-align: left;
    width: fit-content;
    margin: 2rem auto;

    background-color: #ffffff22;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 0.5rem #aaa;
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: 0.1rem solid #eee;
    transition: all 1s ease;
    animation: slideUp 1s ease;
    display: none;
}

@keyframes slideUp {
    from {
        transform: translateY(0%);
        opacity: 1;
        display: block;
    }
    to {
        transform: translateY(-50%);
        opacity: 0;
        display: none;
    }
}

.show__additional__info {
    cursor: pointer;
    width: fit-content;
    margin: 2rem auto;
    padding: 1rem;
    border: 0.1rem solid #eee;
    box-shadow: 0 0 0.5rem #aaa;
    border-radius: 1rem;
    transition: all 0.3s ease;
    color: #666;
}

.show__additional__info:hover {
    background-color: #ffffff22;
    backdrop-filter: blur(2px);
}

.additional__info span {
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}

.ps {
    color: #333;
    opacity: 0.4;
}

@media screen and (max-width: 840px) {
    .content__container {
        width: 100vw;
        border-radius: 0;
        border: none;
        box-shadow: none;
        margin: 0;
        color: none;

        padding: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        background-color: #fff;
        padding-top: 1rem;
    }
    .technologies {
        margin: 0 1rem;
    }
    .additional__info {
        margin: 1rem auto;
    }
    .gift__card {
        padding: 1rem;
    }
    .additional__info {
        padding: 1rem 1rem;
    }
}
