.container {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.container__open {
    display: grid;
    grid-template-columns: auto 1fr;
}

.burger {
    margin: 1rem;
    cursor: pointer;
}

.burger__open {
    display: none;
}

.category {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.back {
    cursor: pointer;
    transition: scale 0.3s ease-in-out;
    padding: 0 1rem;
}

.back:hover {
    scale: 1.1;
}

.popup {
    display: none;
}

.popup__open {
    background: radial-gradient(#fff 3px, transparent 4px),
        radial-gradient(#fff 3px, transparent 4px), linear-gradient(#eee 4px, transparent 0),
        linear-gradient(
            45deg,
            transparent 74px,
            transparent 75px,
            #fefefe 75px,
            #fefefe 76px,
            transparent 77px,
            transparent 109px
        ),
        linear-gradient(
            -45deg,
            transparent 75px,
            transparent 76px,
            #fefefe 76px,
            #fefefe 77px,
            transparent 78px,
            transparent 109px
        );
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-color: #eee;
    background: blur(20px);
    font-weight: bold;
    display: block;
    position: relative;
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    color: #333;
    border-radius: 1rem;
    border: 0.1rem solid #f1f1f1;
    box-shadow: 0 0 1rem #aaa;
}

.leftMenu {
    display: none;
}

.leftMenu__open {
    display: block;
}

@media (max-width: 720px) {
    .container {
        grid-template-columns: 1fr;
    }
    .container__open {
        grid-template-columns: 1fr;
    }
    .popup__open {
        align-self: center;
    }
}
